body.page-template-default,
body.single-post {
	font-size: 16px;
	background-position: top center;
	background-repeat: no-repeat;
	background-color: #07080d;
	background-image: url('../images/img-custom-page-bg.jpg');
}
/* SECTION#POST-CONTENT */
section#post-content {
	padding: 40px 0;
}
section#post-content .container {
	padding: 0;
}
section#post-content .container article.navigation::after {
	clear: both;
	display: block;
	content: ' ';
}
section#post-content .container article.navigation {
	margin-bottom: 30px;
}
section#post-content .container article.navigation a {
	text-transform: uppercase;
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: bold;
	font-size: 1em;
	line-height: 36px;
	color:#b2b2b2;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
section#post-content .container article.navigation a:hover {
	color:#fff;
}
section#post-content .container article.navigation div.cent-btns {
	width:fit-content;
	margin:0 auto;
}
section#post-content .container article.navigation div.cent-btns > a:first-child {
	margin-right: 22px;
}
section#post-content .container article.navigation div.cent-btns a:hover svg.svg-icon path {
	fill: #fff
}
section#post-content .container article.post > figure {
	border: 0;
	text-align:center;
}
section#post-content .container article.post > figure > img {
	height: auto;
    max-width:100%;
}
section#post-content .container article.post {
	background-color: #fff;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-webkit-border-radius: 4px;
	position: relative;
}
section#post-content .container article.post > div.header,
section#post-content .container article.post > div.content {
	padding: 40px;
	font-family: 'Rubik', sans-serif;
	color:#787878;
	font-weight: normal;
	font-size: 0.875em;
}
section#post-content .container article.post.blank > div.content {
	padding: 0;
}
section#post-content .container article.post > div.content img {
    max-width:100%;
	margin:15px 0;
}
section#post-content .container article.post > div.content .inception {
    font-weight: bold;
}
section#post-content .container article.post > div.content .aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
section#post-content .container article.post > div.content .alignleft {
    margin: 0 10px 10px 0;
    float: left;
}
section#post-content .container article.post > div.content .alignright {
    float: right;
    margin: 0 0 5px 5px;
}
section#post-content .container article.post > div.content kbd,
section#post-content .container article.post > div.content code {
	background-color: #444;
}
section#post-content .container article.post > div.content pre {
	border:1px solid transparent;
}
section#post-content .container article.post > div.content input[type="password"],
section#post-content .container article.post > div.content input[type="text"] {
	border-radius: 5px;
	color: #000;
	padding: 5px 11px;
	border: 1px solid rgba(0,0,0,.1);
}
section#post-content .container article.post > div.content input[type="submit"] {
	padding: 5px 11px;
	border-radius: 3px;
	color: #fff;
	border:0;
}
section#post-content .container article.post > div.content blockquote {
    border-color: #00bc70;
}
section#post-content .container article.post > div.content table {
	border-bottom: 1px solid #ededed;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 14px;
	line-height: 2;
	margin: 0 0 20px;
	width: 100%;
}
section#post-content .container article.post > div.content table table tr td {
	border-top: 1px solid #ededed;
	padding: 6px 10px 6px 0;
}
section#post-content .container article.post > div.header {
    padding: 40px 40px 0;
}
section#post-content .container article.post > div.header h3.post-title {
	text-transform: capitalize;
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: bold;
	margin: 0 0 20px;
	font-size: 2.5em;
	color:#000;
	word-wrap: break-word;
	max-width: 590px;
	line-height: 47px;
}
section#post-content .container article.post > div.header span.post-info {
	display: block;
	margin-bottom: 20px;
	line-height: 1;
}
section#post-content .container article.post > div.header span.share-media::after {
	content: ' ';
	display: block;
	position: absolute;
	height: 1px;
	width: 100%;
	background-color: #e6eaf1;
	left: 0;
	margin-top: 20px;
}
section#post-content .container article.post > div.header span.share-media a {
	background-color: #ccc;
	display: inline-block;
	white-space: nowrap;
	line-height:1;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	text-align: center;
	padding:12px 0;
	width:99px;
	color:#fff !important;
	position:relative;
	vertical-align: top;
}
section#post-content .container article.post > div.header span.share-media a.tw {
	background-color:#54abee;
}
section#post-content .container article.post > div.header span.share-media a.fb {
	background-color:#3b5998;
}
section#post-content .container article.post > div.header span.share-media a.pin {
	background-color:#bd081c;
}
section#post-content .container article.post > div.header span.share-media a.fb,
section#post-content .container article.post > div.header span.share-media a.pin {
	padding:11px 0;
}
section#post-content .container article.post > div.header span.share-media a:not(:last-child) {
	margin-right:12px;
}
section#post-content .container article.post > div.header span.share-media > a .brL {
	display: inline-block;
	content: ' ';
	width: 1px;
	margin-left: -13px;
	height: 60%;
	background-color: rgba(256,256,256,.3);
	position: absolute;
	top: 20%;
}
section#post-content .container article.post > div.header span.share-media > a svg {
	margin-right: 18px;
}
section#post-content .container article.post > div.header span.share-media > a svg.svg-icon path {
	fill:#fff;
}
section#post-content .container article.post > div.header span.share-media a.tw
section#post-content .container article.post > div.header span.share-media {
	display: block;
	margin-bottom: 20px;
}
section#post-content .container article.post > div.header span.share-media > a svg.svg-icon path {
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
section#post-content .container article.post > div.header span.share-media > a.twitter-media {
	margin: 0 0 0 2px;
}
section#post-content .container article.post > div.header span.share-media > a.facebook-media {
	margin: 0 10px;
}
section#post-content .container article.post > div.header a,
section#post-content .container article.post > div.content a {
	text-decoration: none;
}
section#post-content .container article.post > div.latest-articles::after {
	clear: both;
	display: block;
	content: ' ';
}
section#post-content .container article.post > div.latest-articles {
    padding: 0 40px 60px 40px;
    position: relative;
}
section#post-content .container article.post > div.latest-articles h3 {
	text-transform: capitalize;
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: bold;
	margin: 0 0 20px;
	font-size: 2.25em;
	color:#000;
	word-wrap: break-word;
	line-height: 1;
}
section#post-content .container article.post > div.latest-articles > ul {
	width: 1020px;
	float: left;
}
section#post-content .container article.post > div.latest-articles > ul li {
	width: 319px;
}
section#post-content .container article.post > div.latest-articles > ul li:not(:last-child),
section#post-content .container article.post > div.latest-articles > ul div.owl-item:not(:last-child) li {
	margin-right: 25px;
}
section#post-content .container article.post > div.latest-articles > ul li div.mini-post-header,
section#post-content .container article.post > div.latest-articles > ul div.owl-item div.mini-post-header {
	width: 100%;
	background-color:#ccc;
	display: block;
	height: 158px;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
section#post-content .container article.post > div.latest-articles > ul li a,
section#post-content .container article.post > div.latest-articles > ul div.owl-item a {
	color:#3d3d3d;
	text-decoration: none;
	font-weight: bold;
	font-size: 1em;
	line-height: 24px;
	text-transform: uppercase;
	font-family: 'Archivo Narrow', sans-serif;
	display: block;
	margin: 14px 0;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
section#post-content .container article.post > div.latest-articles > ul li a:hover,
section#post-content .container article.post > div.latest-articles > ul div.owl-item a:hover {
	opacity: .7
}
section#post-content .container article.post > div.latest-articles > ul li span.date,
section#post-content .container article.post > div.latest-articles > ul div.owl-item span.date {
	display: block;
	font-family: 'Rubik', sans-serif;
	color:#b2b2b2;
	font-size: 0.875em;
}
section#post-content .container article.post > div.latest-articles > div.arrows {
	position: absolute;
	width: 97px;
	right: 0;
	top: 27%;
	text-align: center;
}
section#post-content .container article.post > div.latest-articles > div.arrows a:first-child::after {
	position: relative;
	display: block;
	content: ' ';
	height: 1px;
	width: 100%;
	margin: 11px 0;
	background-color:#e6eaf1;
}
section#post-content .container article.post > div.latest-articles > div.arrows a {
	display: block;
}
section#post-content .container article.post > div.latest-articles > div.arrows a > svg {
	fill: #000
}
section#post-content .container article.post > div.comments {
	padding: 0 40px 40px;
}
section#post-content .container article.post > div.comments .comment-respond h2,
section#post-content .container article.post > div.comments h3 {
	text-transform: capitalize;
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: bold;
	margin: 0 0 20px;
	font-size: 2.25em;
	color:#000;
	word-wrap: break-word;
	line-height: 1;
}
section#post-content .container article.post > div.comments .comment-respond h2 {
	margin-bottom:0;
}
section#post-content .container article.post > div.comments > ul {
	padding: 0;
	margin: 0;
}
section#post-content .container article.post > div.comments > ul li {
	list-style: none;
}
section#post-content .container article.post > div.comments > ul > li {
	padding-bottom: 30px;
	margin-bottom: 30px;
}
section#post-content .container article.post > div.comments > ul > li::after {
	display: block;
	content: ' ';
	height: 2px;
	width: 100%;
	margin-top: 30px;
	left: 0;
	position: absolute;
	border-top: 1px solid #f8f9fb;
	background-color: #edf0f5;
}
section#post-content .container article.post > div.comments > ul li table {
	width: 100%;
}
section#post-content .container article.post > div.comments > ul li table td:first-child {
	padding-right: 22px;
	width:125px;
}
section#post-content .container article.post > div.comments > ul li table td figure img {
	height: 94px;
	width: 94px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
section#post-content .container article.post > div.comments > ul li table td {
	vertical-align: top;
	color:#787878;
	font-family: 'Rubik', sans-serif;
}
section#post-content .container article.post > div.comments > ul li table td span.comment-info {
	color:#b3b3b3;
	display: block;
	line-height: 1;
	font-size: 0.875em;
	margin-bottom: 20px;
}
section#post-content .container article.post > div.comments > ul li table td span.comment-info a {
	color:#b3b3b3;
	line-height: 1;
	font-size: 0.875em;
}
section#post-content .container article.post > div.comments > ul li table td span.comment-info a,
section#post-content .container article.post > div.comments > ul li table td span.comment-info strong {
	text-transform: uppercase;
}
section#post-content .container article.post > div.comments > ul li table td p {
	line-height: 30px;
	color:#787878;
	font-size: 0.875em;
	font-family: 'Rubik', sans-serif;
}
section#post-content .container article.post > div.comments > ul li table td a {
	color:#000;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
	font-size: 0.75em;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
section#post-content .container article.post > div.comments > ul li table td a:hover {
	opacity: .7
}
section#post-content .container article.post > div.comments > ul li ul.children {
	margin-top: 50px;
}
section#post-content .container article.post > div.comments > ul li ul.children li.comment {
	margin: 0 0 47px 0;
}
section#post-content .container article.post > div.comments h3.add-comment {
	text-transform: none;
	margin-bottom: 0;
}
section#post-content .container article.post > div.comments .logged-in-as,
section#post-content .container article.post > div.comments a.logged {
	color:#1141bb;
	font-family: 'Rubik', sans-serif;
	font-size: 0.875em;
	display: block;
	margin-bottom: 30px;
}
section#post-content .container article.post > div.comments .logged-in-as a {
	font-family: 'Rubik', sans-serif;
	font-size: 0.875em;
}
section#post-content .container article.post > div.comments form.comment-form textarea {
	background-color: #e6eaf1;
	border: 0;
	outline: none;
	color:#787878;
	font-family: 'Rubik', sans-serif;
	font-size: 0.875em;
	padding: 20px;
	width: 726px;
	height: 230px;
	resize: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	display: block;
}
section#post-content .container article.post > div.comments form.comment-form p.form-submit input,
section#post-content .container article.post > div.comments form.comment-form button {
	display: block;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	line-height: 40px;
	border:0;
    padding:0 10px;
	font-family: 'Rubik', sans-serif;
	outline:none;
}

section#post-content .container article.post > div.comments form.comment-form .form-submit {
	margin-top: 26px;
}
section#post-content .container article.post > div.comments form.comment-form .input-inline {
	margin-top:10px;
	margin-bottom:10px;
}
section#post-content .container article.post > div.comments form.comment-form .input-inline input:not(:last-child) {
	margin-right:10px;
}
section#post-content .container article.post > div.comments form.comment-form input[type="text"],
section#post-content .container article.post > div.comments form.comment-form input[type="email"] {
	border-radius: 3px;
	padding:0 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	line-height: 40px;
	border:0;
	font-family: 'Rubik', sans-serif;
	outline:none;
	color: #787878;
	background-color: #e6eaf1;
}